
<% include ./layout_header %>

    <h2><%= trans.get('MAIL.HELLO', {name: user.getName()}) %></h2>

    <p>
        <%= trans.get('MAIL.CONTENT.FORGET.DESCRIPTION') %>
        <%= trans.get('MAIL.CONTENT.FORGET.LINK') %>
    </p>

    <a href="http://<%=config.client.hostname%>:<%=config.client.port%>/user/resetPassword?token=<%=user.getToken()%>">
        <%= trans.get('MAIL.CONTENT.FORGET.BUTTON') %>
    </a>

<% include ./layout_footer %>